
.helperPosition{
	float: right;
    position: fixed;
    text-align: left;
    z-index: 100001;
   -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.widgetdivCss{
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-left: 0px;
}

.widgetdivCssNew{
	margin-left: 10px;
    margin-top: 10px;
	
}
.searchCss{
	width : 30px;
	height :50px;
	display:inline-block;
}
.subwidgetCss{
    background-color: #e1ebf5;
  	float: right;
    position: fixed;
    text-align: left;
    padding-left: 2px;
    z-index: 100000;
    box-shadow: -7px -7px 34px -4px rgba(0,0,0,0.6) !important;
    width: 400px;
    box-sizing: initial !important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    
}

.hwslides{
	margin-left: 4px;
	width: 393px;
	height: 165px;
}

@media only  screen and (max-width: 768px) and (min-width : 300px) and (max-device-aspect-ratio: 1/1)
{
	
	
.ghdApplicationNote{
	font-family: 'segoe UI';
    font-size: 12px;
    margin-top: 13px;
    margin-left: 12px;
    color: red;
}
	/* .feedbackCssOnFocus{
	width: 99%;
    height: 190px;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #6d59c0;
    border-radius: 8px;
    resize: none;
    padding: 5px 6px;
    margin-bottom: 7px;
    margin-left: 0.5%;
    margin-top: 0px;
    box-sizing: border-box;
	}
	
	.textFeedAreaModelCSS {
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
} */
.widgetdivCss1{
	margin-left: 8px;
    margin-top: 8px;
}
.showWidgetDiv{
	cursor: pointer;
    border-radius: 0px;
    margin-left: 3px;
}
.hwdraggable-element1Css{
	
	margin-bottom: 8px;
}
		
.widgetdivCss {
    margin-left: 30% !important;
    margin-top: 13px !important;
    margin-bottom: 10px !important;
}


.hideWidgetDivCssPortrait{
	width: 67px;
	height: 31px;	
  	box-shadow: -7px -7px 34px -4px rgba(0,0,0,0.6);
  	margin-top: -8px;
  	cursor: pointer;
  	border-radius: 8px;
	
}	
.innerSecondDiv{
	height: 88% !important;
    width: 100% !important;
	background-color: #ffffff;
	margin-left: 0%;
	/* overflow: auto; */
   }	
   
.chatWindowDiv {
	height: 88%;
    width: 100%;
    margin-left: 0px !important;
    display: inline-block;
    background-color: #ffffff;
    overflow-x: hidden;
    
}
.subwidgetCss{
	height: 450px !important;
	background-color: #e1ebf5;
    max-width: 100%;    
}

.ghdtextareaCss {
    width: 90%;
    height: 120px !important;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #c7a2d6;
    border-radius: 8px;
    resize: none;
    padding: 4px 6px;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-top: 7px;
}
.feedbackCss {
    width: 103%;
    height: 230px;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #6d59c0;
    border-radius: 8px;
    resize: none;
    padding: 5px 6px;
    margin-bottom: 12px;
    margin-left: -4%;
    margin-top: 6px;
    box-sizing: border-box;
}

.hwhelpdeskDiv{
	padding-left: 6.5%;
    padding-top: 31px;
    height: 320px;
    overflow: scroll;
}
.hrseparator {
   margin-right: 2% !important;
}

.previewcontentCss {

    width: 100% !important;
    height: 100% !important;
}

.hwclosePreview {
    margin-top: 0px !important;
    margin-right: 4% !important;
}
.previewheaderCss {
    height: 15% !important;
    }
.previewbodyCss{
	
   max-height: 100%;
   max-width: 100%;
}
.previewdivCss{
    margin-top: 63px;
    max-width:93% !important;
    height: 26px;
    background-color: #efefef;
    margin-left: 10px;
}
.capturedivCss {
    margin-top: 7% !important;
    margin-left: 15px;
}

.hwerrorLabel{
	display: inline-block;
	margin-left: 10% !important;
    font-size: 70% !important;
	font-family: 'Segoe UI' !important;
	color: #f51f56; 
	padding-top: 3px;
}


.hwerrorDiv{
	height: 26px;
    width: 95% !important;
    background-color: #fbdada;
    margin-left: 2% !important;
    margin-top: 2% !important;
    margin-bottom: -33px;
}	


.feedImageCss {
    margin-top: 45px;
    height: 50px;
    width: 310px;
}

.MinMax{
	font-family: 'segoe UI';
    font-size: 12px;
    float: right;
    margin-right: 15px;
    color: #757575;
    margin-top: -1%;
    display: inline-block;
	
}
.hwscreenshotLabel {
  /*   width: 180px; */
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #6d59c0;
    margin-left: 30px;
    cursor: pointer;
    margin-top: -19px;
}
.hwuploadLabel {
    font-size: 14px !important;
}
.hwslides{
	width: 98.8% !important;
}
.feedbackDivCss2{
	background-color: #e1ebf5; 
    border: none !important;
    width: 25% !important;
    height: 70px !important;
    cursor: pointer !important; 
    float: left !important;
    box-sizing: border-box !important;
    /* box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
}

.faqDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 25% !important;
    height: 70px !important;
    cursor: pointer !important;
    float: left !important;
    box-sizing: border-box !important;
   /*  box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
}


.ghdDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 25% !important;
    height: 70px !important;
    cursor: pointer !important;
    float: left !important;
    box-sizing: border-box !important;
    /* box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
}

.botDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 25% !important;
    height: 70px !important;
    cursor: pointer !important;
    float: left !important;
    box-sizing: border-box !important;
   /*  box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
}

.botDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(231, 140, 53);
    padding-left: 32%;
    margin-top: -8px;
}
.ghdDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(144, 65, 175);
    padding-left: 27%;
    margin-top: -8px;
}
.faqDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 188, 157);
    padding-left: 32%;
    margin-top: -8px;
}
.feedbackDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(44, 62, 81);
    padding-left: 18%;
    margin-top: -8px;
}

.feedbackMsgCss {
    height: 315px !important;
    width: 102% !important;
    
   }
 .errorImg {
    margin-left: 45% !important;
}

.ErrorMsg1{
	margin-top:17px;
	margin-left: 15% !important ; 
	font-size:17px !important;
	font-family:'Segoe UI' !important;
	color : #ffffff;
	text-align: center;
     width: 70%;
}
.ghdMsgCss {
    height: 275px !important;
    width: 94% !important;
}

.ghdLoaderDivCss
{ 
  width: 92% !important;
  height: 275px !important;
}
.ghdLoaderCss {
	
   width: 102% !important;
  height: 275px !important;
   
}
.cordianInnerDivCssghd{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
   border-bottom-color: #9041af;
    height: 46px;
}
.cordianInnerDivCsshelpdesk{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
    border-bottom-color: #fff;
    height: 46px;
    margin-top: 0%;
	
}
.cordianInnerDivSpanCss1{
	font-family: Segoe UI;
    font-size: 16px;
    padding-left: 8.3%;
    position: relative;
    top: 11px;
    color: #50457f;
}

.cordianInnerDivSpanCss2{
    float: right;
    margin-right: 5.8%;
    margin-top: 10px;
}
.captureImgDivCss{
	    margin-bottom: 5px;
	    margin-left: 15%;
	    margin-top :25px;
}
.hworLabel {
    display: inline-block;
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #757575;
    margin-left: 45%;
    margin-top: 2px;
}

.hwUploadimageDivCss {
    margin-left: 25%;
}

.ghdsecondDiv{
  overflow: visible !important;
  margin-bottom: 56px;
}
.ghdSubmitImage {
    margin-right: 25px;
    margin-top: 9px;
    cursor: default;
    width: 300px;
    height: 50px;
}
#submitDiv{
	float: right;
}

.feedbacknoteCss {
    font-size: 12px;
    font-family: 'Segoe UI';
    display: inline-block;
    margin-top: 12px;
    color: #ff0000;
    margin-left: -10px;
}

.helpdeskTagName{
	font-size:14px !important;
	font-family:'Segoe UI' !important;
	color : #50457f;
	margin-left: 3.1%;
	display: inline-block;
}
.feedbackMinMax{
	font-family: 'Segoe UI';
    font-size: 12px;
    float: right;
    margin-right: 2px;
    color: #757575;
    /* font-style: italic; */
    margin-top: -10px;
    display:inline-block;
}

.closeWidgetDivCss{
    margin-top: -40px;
    margin-left: 3px; 	
}

.openWidgetDivImgCss {
    margin-top: -8px;
    height: 40px;
    width: 40px;
}


.hwtooltiptext {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
}

#hwtooltip .hwtooltiptext {
    width: 75px;
    height: 17px;
    margin-top: 12px;
    background-color: #eaeae8;
    color: black;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    right: 130%;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
}

.hwSpaceCss{
	    margin-bottom: 8px;
}

.botDivCss1{
	width: 40px;
    height: 40px;
    background-color: #e78c35;
    cursor:pointer;
    box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);
  
}

.feedbackDivCss1{
	width: 40px;
    height: 40px;
    background-color: #2d3e50;
    cursor:pointer;
    box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);
}

.ghdDivCss1{
	width: 40px;
    height: 40px;
    background-color: #8f44ad;
    cursor:pointer;
     box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);

}
.faqDivCss1{
	width: 40px;
    height: 40px;
    background-color: #00bc9d;
    cursor:pointer;
     box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);

}

.ErrorMsgImg{
	margin-top:34px;
	margin-left:127px;
	/* margin-bottom: 20px; */
	cursor:pointer;
	
}
.hwscreenshotPreview{
	margin-bottom: 5px !important;
}


}
	

@media only  screen and (max-width: 768px) and (min-width : 300px) and (min-device-aspect-ratio: 1/1)
{
	
.ghdApplicationNote {
    font-family: 'segoe UI';
    font-size: 12px;
    margin-top: 2px;
    margin-left: 7px;
    color: red;
}
	
.widgetdivCss1{
	margin-left: 8px;
    margin-top: 8px;
}
.showWidgetDiv{
	
	cursor: pointer;
    border-radius: 0px;
    margin-left: 3px;
}

.hwdraggable-element1Css{
	margin-bottom: 8px;
}
.widgetdivCss {
    margin-left: 30% !important;
    margin-top: 13px !important;
    margin-bottom: 10px !important;
}
.hideWidgetDivCssLandscape{
	width: 67px;
	height: 31px;
	background-color: #0a3056;
  	border-radius: 10px 10px 0px 0px;
  	box-shadow: -7px -7px 34px -4px rgba(0,0,0,0.6);
  	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(270deg);
	
}	
.innerSecondDiv {
    height: 100% !important;
    width: 81% !important;
    background-color: #ffffff;
    margin-top: -210px;
}
.chatWindowDiv {
	height: 100%;
    width: 85%;
    margin-left: 0px !important;
    margin-top: -210px;
    display: inline-block;
    background-color: #ffffff;
    overflow-x: hidden;
    
}	
.subwidgetCss{
	height: 280px !important;
	background-color: #e1ebf5;
    width: 100% !important;   
}

.ghdtextareaCss {
    width: 94%;
    height: 50px !important;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #c7a2d6;
    border-radius: 8px;
    resize: none;
    padding: 4px 6px;
    margin-left: 2%;
    margin-top: 3px;
}
.feedbackCss {
    width: 103%;
    height: 160px;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #6d59c0;
    border-radius: 8px;
    resize: none;
    padding: 5px 6px;
    margin-left: -3%;
    margin-top: 16px;
    box-sizing: border-box;
}

.hwhelpdeskDiv {
    padding-left: 6.5%;
    padding-top: 15px;
    height: 171px;
    overflow: scroll;
}
.hrseparator {
   margin-right: 2% !important;
   width: 102%;   
}

.previewcontentCss {

    width: 100% !important;
    height: 100% !important;
}

.hwclosePreview {
    margin-top: 0px !important;
    margin-right: 4% !important;
}
.previewheaderCss {
    height: 15% !important;
    }
.previewbodyCss{
	
   max-height: 100%;
   max-width: 100%;
}

.previewdivCss{
    margin-top: 33px;
    max-width:88% !important;
    height: 26px;
    background-color: #efefef;
    margin-left: 10px;
}
.capturedivCss{
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 2%;
}

.hwerrorLabel{
	display: inline-block;
	margin-top: 3px;
	margin-left: 2% !important;
    font-size: 70% !important;
	font-family: 'Segoe UI' !important;
	color: #f51f56; 
}

.hwerrorDiv{
	height: 23px;
    width: 60% !important;
    background-color: #fbdada;
    margin-left: 0% !important;
    margin-top: 1px !important;
}	


.feedImageCss {
    margin-top: 31px;
    height: 50px;
    width: 310px;
    margin-left: 15%;
}

.MinMax {
    font-family: 'segoe UI';
    font-size: 12px;
    float: right;
    margin-right: 3%;
    color: #757575;
}
.hwscreenshotLabel {
    /* width: 180px; */
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #6d59c0;
    margin-left: 30px;
    cursor: pointer;
    margin-top: -19px;
}
.hwuploadLabel {
    font-size: 14px !important;
}
.hwslides{
	width: 98.8% !important;
}
.feedbackDivCss2{
	background-color: #e1ebf5; 
    border: none !important;
    width: 12.5% !important;
    height: 70px !important;
    cursor: pointer !important; 
    box-sizing: border-box !important;
   /*  box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
    margin-left: -0.3%;
}

.faqDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 12.5% !important;
    height: 70px !important;
    cursor: pointer !important;
    float: left !important;
    box-sizing: border-box !important;
  /*   box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
    margin-left: -0.3%;
}


.ghdDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 12.5% !important;
    height: 70px !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
   /*  box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
    margin-left: -0.3%;
}

.botDivCss2 {
    background-color: #e1ebf5;
    border: none !important;
    width: 12.5% !important;
    height: 70px !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
   /*  box-shadow: -1px 3px 11px -2px rgba(0,0,0,0.6); */
    border-radius: 0px !important;
    margin-left: -0.3%;
}


.botDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(231, 140, 53);
    padding-left: 33%;
    margin-top: -8px;
}
.ghdDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(144, 65, 175);
    padding-left: 25%;
    margin-top: -8px;
}
.faqDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 188, 157);
    padding-left: 33%;
    margin-top: -8px;
}
.feedbackDivCss21{
	font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    color: rgb(44, 62, 81);
    padding-left: 15%;
    margin-top: -8px;
}

.feedbackMsgCss {
    height: 228px !important;
    width: 102% !important;
}
 .errorImg {
    margin-left: 45% !important;
}

.ErrorMsg1{
	margin-top:17px;
	 margin-left: 20% !important ;  
	font-size:17px !important;
	font-family:'Segoe UI' !important;
	color : #ffffff;
	text-align: center;
    width: 60%;
}
.ghdMsgCss {
    height: 215px !important;
    width: 95% !important;
}

.ghdLoaderDivCss {
    width: 95% !important;
    height: 210px !important;
}
.ghdLoaderCss {
	
   width: 102% !important;
  height: 260px !important;
   
}
.cordianInnerDivCssghd{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
   border-bottom-color: #9041af;
    height: 46px;
}
.cordianInnerDivCsshelpdesk{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
    border-bottom-color: #fff;
    margin-top: 0%;
    height: 46px;
	
}
.cordianInnerDivSpanCss1{
	font-family: Segoe UI;
    font-size: 16px;
    padding-left: 6%;
    position: relative;
    top: 11px;
    color: #50457f;
}

.cordianInnerDivSpanCss2{
    float: right;
    margin-right: 7%;
    margin-top: 10px;
}
.captureImgDivCss{
	    margin-bottom: 0px;
	    margin-left: 0%;
	    margin-top :0px;
}
.hworLabel {
    display: inline-block;
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #757575;
    margin-left: 15%;
    margin-top: 0px;
}

.hwUploadimageDivCss {
    margin-left: 0%;
    margin-top: -3px;
}
.ghdsecondDiv {
    overflow: visible !important;
    margin-bottom: 50px;
}
.ghdSubmitImage {
    margin-top: 0px;
    height: 50px;
    cursor: default; 
    margin-left: -32%;
}
#submitDiv{
	float: right;
}

.feedbacknoteCss {
    font-size: 12px;
    font-family: 'Segoe UI';
    display: inline-block;
    color: #ff0000;
    margin-left: -4%;
    margin-top: 5px;
}

.helpdeskTagName{
	font-size:14px !important;
	font-family:'Segoe UI' !important;
	color : #50457f;
	margin-left: 3.1%;
	display: inline-block;
}
.feedbackMinMax{
	font-family: 'Segoe UI';
    font-size: 12px;
    float: right;
    margin-top: 5px;
    color: #757575;
    display: inline-block;
}

.closeWidgetDivCss {
    margin-top: 60px;
    margin-left: 3px;
}

.openWidgetDivImgCss {
    height: 40px;
    width: 40px;
}


.hwtooltiptext {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
}

#hwtooltip .hwtooltiptext {
    width: 75px;
    height: 17px;
    margin-top: 12px;
    background-color: #eaeae8;
    color: black;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    right: 130%;
    font-family: Segoe UI;
    font-size: 14px;`
    font-weight: 400;
    padding-top: 3px;
}

.hwSpaceCss{
	    margin-bottom: 8px;
}

.botDivCss1{
	width: 40px;
    height: 40px;
    background-color: #e78c35;
    cursor:pointer;
     box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);
  
}

.feedbackDivCss1{
	width: 40px;
    height: 40px;
    background-color: #2d3e50;
    cursor:pointer;
     box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);
}
.ghdDivCss1{
	width: 40px;
    height: 40px;
    background-color: #8f44ad;
    cursor:pointer;
    box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);

}

.faqDivCss1{
	width: 40px;
    height: 40px;
    background-color: #00bc9d;
    cursor:pointer;
     box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.35);

}
.ErrorMsgImg{
	margin-top:34px;
	margin-left:40%;
	/* margin-bottom: 20px; */
	cursor:pointer;
	
}


}


@media only  screen and (min-width: 768px){
	
	
.ghdApplicationNote{
	font-family: 'segoe UI';
    font-size: 12px;
    margin-top: 6px;
    margin-left: 12px;
    color: red;
}
	
.widgetdivCss1{
	margin-left: 4px;
    margin-top: 4px;
}
	
.showWidgetDiv{	
	cursor: pointer;
    box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45);
    border-radius: 0px;
    margin-left: 3px;
}
	
.chatWindowDiv {
    display: inline-block;
    margin-top: 20px;
    width: 280px;
    background-color: #ffffff;
    margin-left: 18px;
    border-radius: 6px;
    overflow: hidden;
}
	
.innerSecondDiv{
	display: inline-block;
	margin-top: 20px;
	width: 280px;
	background-color: #ffffff;
	margin-left: 18px;
	/* height: 395px; */
	border-radius: 6px;
}
	
.feedbackDivCss2{
	width: 45px;
    height: 45px;
    cursor:pointer;
    margin-left: 18px;
  	float: left;
  	border-radius: 6px;
    border: 1px solid #2c3e51;
    margin-top: 20px;
    box-sizing: border-box;
	background-color: #ffffff;
}
.faqDivCss2{
	width: 45px;
    height: 45px;
    cursor:pointer;
    margin-left: 18px;
  	float: left;
  	border-radius: 6px;
    border: 1px solid #00bc9d;
    margin-top: 20px;
    box-sizing: border-box;
	background-color: #ffffff;
}
.ghdDivCss2{
	width: 45px;
    height: 45px;
    cursor:pointer;
    margin-left: 18px;
  	float: left;
  	border-radius: 6px;
    border: 1px solid #9041af;
    margin-top: 20px;
    box-sizing: border-box;
	background-color: #ffffff;
}

.botDivCss2{
		width: 45px;
       height: 45px;
       cursor:pointer;
       margin-left: 18px;
  	   float: left;
  	   border-radius: 6px;
      border: 1px solid #e78c35;
      margin-top: 20px;
      box-sizing: border-box;
	  background-color: #ffffff;
}


.feedbackCss{
	width:334px;
	height:136px;
	color:#757575 !important;
	font-size:14px !important;
	font-family:'Segoe UI' !important;
	border :1px solid #6d59c0;	
	border-radius: 0px;
	resize:none;
	padding: 4px 6px;
    margin-bottom: 10px;
    margin-left: -13px;
    margin-top: 3px;
    box-sizing: border-box;
}
.feedbackCss:focus{
	outline: 1px solid #9b8bda;
	box-shadow: 0px 0px 5px #9b8bda !important;
}

.feedbackCss::-webkit-scrollbar {
	 width: 3px;
}

.feedbackCss::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #e6e6e6;
  height: 6px;
  
}

.cordianInnerDivCsshelpdesk{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
    border-bottom-color: #9041af;
    height: 40px;
	
}

.cordianInnerDivCssghd{
	background-color: #f3ecf6;
    border-bottom: solid 1px;
    border-bottom-color: #9041af;
    height: 40px;
	
}

.cordianInnerDivSpanCss1{
	font-family: Segoe UI;
    font-size: 20px;
    padding-left: 10px;
    position: relative;
    top: 5px;
    color: #50457f;
}

.cordianInnerDivSpanCss2{
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}
.ghdtextareaCss {
    height: 116px;
    width: 323px;
    color: #757575 !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border: 1px solid #c7a2d6;
    border-radius: 0px;
    resize: none;
    padding: 4px 6px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-top: 12px;
}

.hwscreenshotLabel {
    width: 180px;
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #6d59c0;
    margin-left: 30px;
    cursor: pointer;
    margin-top: -19px;
}

.captureImgDivCss{
	    margin-bottom: 5px;
}

.hworLabel{
	display: inline-block;
    font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #6d59c0;
    margin-left: 78px;
    margin-top: 2px;
}

.ghdsecondDiv{
  overflow: visible !important;
    margin-bottom: 30px;
}
.ghdSubmitImage{
	margin-left: 241px;
	 margin-right :15px; 
	 margin-top: 1px; 
	 cursor:default;
}

.MinMax{
	font-family: 'segoe UI';
    font-size: 12px;
    float: right;
    margin-right: 15px;
    color: #757575;
    margin-top: -10px;
    display: inline-block;
	
}

#submitDiv{
	margin-top: -40px;
	float: right;
}

.feedImageCss{
	margin-top: 11px;
	margin-left: 241px;
}

.feedbacknoteCss{
	font-size: 12px;
    font-family: 'Segoe UI';
    display: inline-block;
    margin-top: 5px;
    color: #ff0000;
    margin-left: -10px;
}

.hwhelpdeskDiv{
	padding-left: 20px;
    padding-top: 20px;
    height: 292px;
    overflow: scroll;
}

.helpdeskTagName{
	font-size:14px !important;
	font-family:'Segoe UI' !important;
	color : #50457f;
	margin-left: 9px;
	display: inline-block;
}

.feedbackMinMax{
	font-family: 'Segoe UI';
    font-size: 12px;
    float: right;
    margin-right: 2px;
    color: #757575;
    margin-top: -10px;
    display:inline-block;
}

.capturedivCss{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.closeWidgetDivCss{
    margin-top: -15px;
    margin-left: 18px; 	
}


.openWidgetDivImgCss{
	margin-left: -10px;
    margin-top: -10px;
    max-width: 25px;
    max-height: 24px;
}



.hwtooltiptext {
	
	box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45)

}

#hwtooltip .hwtooltiptext {
    visibility: hidden;
    width: 120px;
    max-height: 30px;
    margin-top: 11px;
    background-color: #585858;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    right: 170%;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 4px;
}

/* #hwtooltip .hwtooltiptextDiv{
	font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
} */

#hwtooltip .hwtooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #585858;
}
#hwtooltip:hover .hwtooltiptext {
    visibility: visible;
}

.botDivCss1{
	width: 30px;
    height: 30px;
    background-color: #e78c35;
    cursor:pointer;
  
}

.feedbackDivCss1{
	width: 30px;
    height: 30px;
    background-color: #2d3e50;
    cursor:pointer;
}

.ghdDivCss1{
	width: 30px;
    height: 30px;
    background-color: #8f44ad;
    cursor:pointer;

}

.faqDivCss1{
	width: 30px;
    height: 30px;
    background-color: #00bc9d;
    cursor:pointer;

}
.previewdivCss{
    margin-top: 32px;
    margin-bottom: 50px;
    width: 334px !important;
    height: 26px;
    background-color: #efefef;
    margin-left: 10px;
}

.hwerrorDiv{
	height: 26px;
    width: 334px;
    background-color: #fbdada;
    margin-top: 5px;
    margin-bottom: -20px;
    margin-left: 10px;
}

.hwerrorLabel{
	display: inline-block;
	margin-left: 7px;
	margin-top: 3px;
	font-size: 12px;
	font-family: 'Segoe UI' !important;
	color: #f51f56; 
}	

.ErrorMsg1{
	margin-top:17px;
	margin-left:55px;
	font-size:17px !important;
	font-family:'Segoe UI' !important;
	color : #ffffff;
	text-align: center;
    width: 225px;
}

.ErrorMsgImg{
	margin-top:34px;
	margin-left:120px;
	/* margin-bottom: 20px; */
	cursor:pointer;
	
}


.hwconnector{
  position:absolute;
  top: 65px;
  height:20px;
  width: 1px;
}



}

.hideWidgetDivCss{
	width: 67px;
	height: 31px;
	background-color: #0a3056;
  	border-radius: 10px 10px 0px 0px;
  	box-shadow: -7px -7px 34px -4px rgba(0,0,0,0.6);
} 

.hwinputboxCss{
	margin-top: 0px;
    width: 294px !important; 
    border:none !important;
    color: #757575 !important;
    display: inline-block !important;
    height: 27px !important;
    padding: 2px 4px !important;
    font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    border-radius: 0px !important;    
}

.hwinputboxCss:focus{
	outline: 0;
}

.policyCss{
	
}
.FaqCss{
	
}

.ghdtextareaCss:focus{
	outline: 1px solid #9b8bda;
	box-shadow: 0px 0px 5px #9b8bda !important;
}

.helpdeskDiv{
	width: 210px;
    background-color: antiquewhite;
    height: 208px;
    position: fixed;
    z-index: 100000;
    font-size: 14px;
    cursor:pointer;
    
}
.faqDivCss{
	width: 45px;
    height: 45px;
    background-color: #ffffff;
    cursor:pointer;
    /*new prop  */
      margin-left: 18px;
  	  float: left;
  	  border-radius: 6px;
  	  border: 1px solid #00bc9d;
  	  margin-top: 20px;
  	  box-sizing: border-box;
}
.searchDivCSS{
	width: 45px;
    height: 45px;
    background-color: #ffffff;
    cursor:pointer;
    /*new prop  */
      margin-left: 18px;
  	  float: left;
  	  border-radius: 6px;
      border: 1px solid #1388b2;
      margin-top: 20px;
      box-sizing: border-box;
}
.helpdeskDivCss{
	width: 45px;
    height: 45px;
    background-color: #ffffff;
    cursor:pointer;
    /*new prop  */
      margin-left: 18px;
  	  float: left;
  	  border-radius: 6px;
      border: 1px solid #ff5f96;
      margin-top: 20px;
      box-sizing: border-box;
}

/* FOR Feedback Icon */


.feedbackDivCssNew{
	width: 52px;
    height: 52px;
    background-color: #2d3e50;
    cursor:pointer;
	margin-left: -20px;	
    box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45);
}

.feedbackiconDivCss{
	width: 33px;
    height: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	
}
/*  For faq icon */

.faqDivCssNew{
	width: 52px;
    height: 52px;
    background-color: #00bc9d;
    cursor:pointer;
    margin-left: -20px;	
    box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45);
}

.faqIconDivCss{
	width: 33px;
    height: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	
}

/*  For ghd icon */

.ghdDivCssNew{
	width: 52px;
    height: 52px;
    background-color: #8f44ad;
    cursor:pointer;
    margin-left: -20px;	
    box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45);
}

.ghdIconDivCss{
	width: 33px;
    height: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	
}

/* For Bot Icon */

.botDivCssNew{
	width: 52px;
    height: 52px;
    background-color: #e78c35;
    cursor:pointer;
    margin-left: -20px;	
    box-shadow: -2px -3px 10px 0px rgba(0,0,0,0.45);
}


.botIconDivCss{
	width: 33px;
    height: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.subWidgetDivCss{
	margin-top: 5px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 15px;
	text-align: left !important;
}
.closeDiv{
	display: inline-block;
    float: right;
    margin-top: -5px !important;
    cursor: pointer;
}
.subdivHeading{
	display: inline-block;
    font-size: 20px;
    font-family: 'Segoe UI';
    color: #50457f;
    margin-bottom: 5px;
    margin-left: -13px;
}
.subdivContent{
	 font-size: 14px;
    font-family: 'Segoe UI';
    color: #50457f;
    margin-bottom: 2px;
    margin-left: -10px;
}
.trendingSearchCss{
	font-size: 14px;
    font-family: 'Segoe UI Semibold';
    color: #0051b5;
    margin-bottom: 5px;
    max-width: 214px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block;
	cursor: pointer;
}

.helpdeskContactValue{
	font-size:14px !important;
	font-family:'Segoe UI' !important;
	color : #50457f;
	display: inline-block;
	margin-left: 4px;
}
.helpdeskContact{
	font-size:16px;
	font-family:'Segoe UI Semibold';
	color : #757575;
	margin-bottom:5px;
}


.successMsgImg{
	display: inline-block;
	margin-top:25px;
	margin-left: 147px;
	margin-bottom: 0px;
}
.errorImg{
	margin-top:24px;
	margin-left:147px;
	margin-bottom: 0px;
	display: inline-block;
}
.successMsg{
	margin-top: 17px;
	margin-left:78px;
	font-size:17px !important;
	font-family:'Segoe UI' !important;
	color : #ffffff !important;
	width: 182px;
    text-align: center;
}
.searchImageDiv{
	display: inline-block;
    margin-top: 0px;
    background-color: #ffffff;
    padding-bottom: 4px;
    padding-top: 13px;
    padding-right: 4px;
    vertical-align: top;
}
.hwinputboxDiv{
	display: inline-block;
	margin-top: 5px;
    margin-bottom: -10px;
}

.ghdLoaderCss
{ 

text-align: center;
z-index: 9004;
overflow: auto;
background-color: #655999; 
width: 334px;
  height: 219px;
  margin-left: -13px;
  margin-top: 12px;
}
.ghdLoaderDivCss
{ 

text-align: center;
z-index: 9004;
background-color: #655999; 
width: 334px;
  height: 244px;
  margin-left: 12px;
  margin-top: 12px;
}
.loaderImageCss{
	margin-top: 60px;
	
    z-index: 10;
}
.loaderTextCss{
	
	margin-top: 22px;
	font-size: 17px;
    font-family: 'Segoe UI';
    color: #ffffff;
}

.previewmodalCss {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.previewcontentCss {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 925px;
    height:580px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.previewheaderCss {
    padding-top: 8px !important;
    background-color: #f5f5f5;
    height: 30px ;
    text-align: left;
}

.previewbodyCss{
	position:relative;
	height:540px;
	width:923px;
	overflow: scroll; 
}
.hwclosePreview {
    display:inline-block;
    float: right;
    font-size: 16px;
    font-family: 'Segoe UI';
    color: #126ba2;
    margin-right: 18px;
    cursor:pointer;
}


.hwuploadLabel{
	font-size: 14px;
    font-family: 'Segoe UI' !important;
    color: #6d59c0;
    margin-left: 30px;
    margin-top: -19px;
    cursor: pointer;
}
.hwscreenshotPreview{
	display:inline-block;
	font-size: 12px;
	font-family: 'Segoe UI' !important;
	color: #6d59c0;
	margin-left: 6px;
	cursor: pointer;
	vertical-align: bottom;
}
#captureImg{
	margin-left: 0px;
}
#uploadImg{
	margin-left: 0px;
}
#previewImg{
	margin-left: 18px;
	margin-right:8px;
}
.removeImgCss{
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
	float: right;
    margin-top: 8px;
    line-height: 0;
}
.hwscreenshotHeader{
	font-size: 16px;
	font-family: 'Segoe UI Semibold';
	color: #000000;
	margin-left: -2px;
	display:inline-block;
}


.removeErrorCss{
	display: inline-block;
	margin-right:7px;
	float: right;
	margin-top: 7px;
	cursor: pointer;
	line-height: 0;
}
#screenshotLoader{
    height: 28px;
    background: white;
    margin-bottom: 48px;
    margin-left: 10px;
    margin-top: 32px;
}
#screenshotloaderImage{
	width: 20px;
    height: 20px;
    
}
#screenshotloaderText{
	font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    color: #655999;
    margin-top: -20px;
    margin-left: 30px;
       
}
#ghdTimer{
	font-size:17px;
	font-family:'Segoe UI';
	color : #ffffff;
	text-align: center;
    
}

.ghdTextboxlabel{
	font-size: 14px !important;
    font-family: 'Segoe UI' !important;
    display: inline-block;
    margin-left: 10px;
    color: #50457f;

}

.ghdAttachmentFlagDiv{
	color: #ff0000;
    margin-top: -20px;
    margin-left: 150px;
    position: absolute;
}

.ghdAttachmentError{
	
    margin-top: 4px;
    width: 334px;
    height: 26px;
    background-color: #fbdada;
    margin-bottom: -20px;
    margin-left: 6px;
	
}

.ghdTextboxCss{
  width: 115px !important;
  height: 25px !important;
  color: #757575 !important;
  font-size: 14px !important;
  font-family: 'Segoe UI' !important;
  border: 1px solid #6d59c0 !important;
  border-radius: 0px !important;
  padding: 1px 0px !important;
  margin-bottom: 0px !important;
  box-sizing: border-box;
}

.ghdTextboxCss:focus{
	outline: 1px solid #9b8bda;
	box-shadow: 0px 0px 5px #9b8bda !important;
}
.expandWidgetDiv{
	float: right;
 	position: fixed;
 	z-index: 100000;
  	width: 50px;
  	
}




.hwscreenshotDisclaimerDiv{
	font-size: 13px;
	font-family: 'Segoe UI Semibold' !important;
	color: #ff0000;
	display: inline-block;
  	margin-left: 5px;
}






.hrseparator{
  margin-left: -13px;
  margin-right: 2px;
  background-color: #50457f;
  height: 1px;
  margin-bottom: 9px;
  margin-top: -4px;
}

.helpdeskimgcss{
  margin-left: -12px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.apphelpdeskimgcss{
  margin-left: -12px;
  vertical-align: middle;
  margin-bottom: 3px;
}

#hwsearchinputDiv{
	margin-bottom: 5px;
	display: inline-block;
	border: 1px solid #50457f !important;
	line-height: 0px !important; 
	margin-left: -13px !important; 
	margin-top: 3px; 
	height: 35px !important;
	width: 332px !important;
}

.minimizeWidgetDivCss{
	width: 180px;
	height: 45px;
	cursor: pointer;
	box-shadow: -7px -7px 34px -6px rgba(0,0,0,0.6);
	position: fixed;
    bottom: 10px;
    right: 0px;
}
.feedbackMsgCss{
  height: 219px;
  width: 334px;
  background-color: #655999;
  margin-left: -13px;
  margin-top: 12px;
}
.ghdMsgCss{
 height: 244px;
    width: 334px;
    background-color: #655999;
    margin-left: 12px;
    margin-top: 12px;
}
.ghdErrorlabel{
  display: inline-block;
  margin-left: 7px;
  margin-top: 3px;
  font-size: 12px;
  font-family: 'Segoe UI' !important;
  color: #f51f56;
  width: 218px;
}
.removeAttachmentErrorCss{
  display: inline-block;
  margin-right: 7px;
  float: right;
  margin-top: 7px;
  cursor: pointer;
  line-height: 0;
}
#hwwidgetName{
	margin-top: -30px;
    margin-left: 45px;
    font-size: 17px;
    vertical-align: middle;
    font-family: 'Segoe UI';
    color: #ffffff;
}


/*popup css start  */

.hwmodal {
    display: none;
    margin-left: -410px;
    width: 400px;
    height: 220px;
    border: 1px solid #8f44ad;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
}

.hwmodalContent {
    display: inline-block;
    
}

.hwmodalHeader {
    height: 35px;
    background-color: #8f44ad;
    border-radius: 7px 7px 0px 0px;
}

.hwclosepopup{
    margin-top: 5px;
	cursor: pointer;
	margin-right: 8px;
	float: right;
}

.hwmodalHeadertext{
	display: inline-block;
    color: #ffffff;
    margin-left: 14px;
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 18px;
}

.hwslides{
	display: none;
	margin-top: 2px;
}


.hwpagination{
	display:inline-block !important;
	border-radius:50%;
	border:1px solid #8f44ad !important;
	/* background-color:transparent!important; */
	height:8px;
	width:8px;
	padding:0;
	margin-left: 5px;
	box-sizing: initial;
	cursor: pointer;
}
.hwfilldot{
	background-color: #8f44ad;
}
/*popup css end */

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
} */




#hwCordianDownArrow1{
	    background-color: #f3ecf6;
}
#hwCordianDownArrow2{
	    background-color: #f3ecf6;
}


/* chatbot popup css starts */
.bot-main-div {
	display: none;
    margin-left: -410px;
    width: 400px;
    height: 220px;
    border: 1px solid #e78c35;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.bot-popup-head {
    height: 36px;
    padding-left: 18px;
    background-color: #e78c35;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bot-popup-head-content {
	width: 383px;
	color: #ffffff;
	font-family: Segoe UI Semibold;
	font-size: 16px;
	padding-top: 5px;
}

.bot-body-table {
	border-spacing: 0px;
	padding-top: 26px;
	width: 398px;
	border-collapse: separate !important;
}

.bot-table-column-one {
	vertical-align: top;
	width: 250px;
	padding-top: 8px;
	padding-left: 30px;
}

.bot-table-column-two {
	vertical-align: top;
}

.bot-table-column-three {
	vertical-align: top;
	padding-right: 0px;
	padding-top: 4px;
}

.bot-msg-div {
	color: #243445;
	font-family: Segoe UI Semibold;
	font-size: 16px;
	overflow: auto;
	max-height: 80px;
	line-height: 20px;
}

.bot-img-hand-icon {
	margin-left: 7px;
}

.bot-img-yuva-icon {
	height: 50px;
	width: 50px;
	background-color: #e78c35;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
}

.bot-img-ghd-icon {
	height: 36px;
	width: 36px;
	background-color: rgba(144, 65, 175, 0.8);
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
}

.bot-img-feedback-icon {
	height: 36px;
	width: 36px;
	background-color: rgba(44, 62, 81, 0.8);
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
}

.bot-yuva-icon {
	padding: 6px;
}

.bot-ghd-icon {
	padding: 3px;
}

.bot-feedback-icon {
	padding: 3px;
}

.bot-close-font-details  {
	padding: 0px;
	padding-left: 30px;
	vertical-align: bottom;
}

.bot-close-text:hover {
	color: #0849a1;
	cursor: pointer;
}

.bot-close-text {
	font-family: Segoe UI Regular;
	font-size: 14px;
	color: #546edb;
}
/* chatbot popup css ends */
.hwhelpdeskDiv::-webkit-scrollbar {
    width: 3px;
}

.hwhelpdeskDiv::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #e6e6e6;
  height: 6px;
  
}


